body {
  background-color:#e8daef ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
}


/* Card Styling */
.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 5px;
  background-color:#fadbd8 
  ;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #c23838;
  margin-bottom: 10px;
}

.card-text {
  color: black;
}

/* Grid spacing */
.row {
  margin-top: 40px;
}

/* Responsive table and card */
@media (max-width: 768px) {
  .table {
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1.1rem;
  }
}